* {
  box-sizing: border-box;
}

body {
  font: normal 18px/1.15 $sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
  margin-block-start: 0; // chrome override
  margin-block-end: 0; // chrome override

  a {
    font-size: inherit;
  }
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  ul,
  li {
    @extend %remove-list-styling;
  }
  a {
    color: $white;
    font-size: 20px;
    padding: 0 20px;
    text-decoration: none;
  }
}

input,
button {
  border-radius: 5px;
}

ul {
  padding: 0;
  padding-inline-start: 0; // chrome reset
}

li {
  margin: 10px 40px;
}

// Header

header {
  background-image: linear-gradient(to right, $success, $info, $alert);
  padding: 10px 0;

  nav {
    @extend %base-width;
    display: flex;

    > * {
      display: flex;
    }
  }
}

// Main
main {
  @extend %base-width;
  border-radius: 5px;
  flex: 0 1 100%;
  margin: 40px auto;
  padding: 20px;
}

section {
  padding: 20px 10px;
}

// Footer

footer {
  background-color: $primary;
  color: $white;
  padding: 10px 0;

  nav {
    @extend %base-width;
    justify-content: center;
  }
}
