.modal-wrapper {
  @extend %fixed-overlay;
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background-color: $white;
  border: 1px solid $grey-5;
  border-radius: 5px;
  box-shadow: 0 3px 3px $grey-8;
  max-width: 300px;
  min-height: 300px;
  padding: 35px 20px 20px 20px;
  position: relative;
  width: 100%;

  label {
    display: block;
    margin-bottom: 10px;
  }

  input {
    display: block;
    width: 100%;
  }
}

.modal-title {
  @extend %flex-row;
  margin-bottom: 10px;
}
